.notification {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 80%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
  }
  
.notification__header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: #2a006e;
    color: white;
}

.notification__header h2 {
    margin: 0.5rem;
}

.notification__content {
    padding: 1rem 0.5rem;
}

.modal__footer {
    padding: 1rem 0.5rem;
}